<a href="https://colab.research.google.com/github/huynhhoc/DataAnalystDeepLearning/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset** 
Dataset file name: heart_disease_dataset.csv 
(https://github.com/huynhhoc/DataAnalystDeepLearning/blob/main/heart_disease_dataset.csv)

**Dataset description**: Dataset contains different features along with the disease state. It contains total 13 features and an additional disease state, in total 14 columns. It contains different types of data including int, float and string. Feature names, data type and values are described in the following section with their proper unit details. Data may contain 'null' or 'nan' values. Each observation is a datapoint along the row of the dataset. Patient and observation are used interchangeably in this case. 
 
**Features**: i. age (int): age of the patient in year ii. sex (str): gender of the patient (M: male, F: female) iii. cp (str): chest pain type (tap: typical angina, aap: atypical angina, nap: non-anginal pain, asp: asymptomatic pain) iv. trestbps (float): resting blood pressure (in mm Hg on admission to the hospital) v. chol (float): serum cholesterol in mg/dl vi. fbs (bool): is fasting blood sugar higher than standard 120 mg/dl? (yes: if true; no: if false) vii. restecg (int): resting electrocardiographic results (0: normal, 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), 2: showing probable or definite left ventricular hypertrophy by Estes' criteria) viii. thalach (float): maximum heart rate achieved ix. exang (bool): exercise induced angina (true: if yes; false: if no) x. oldpeak (float): ST interval depression induced by exercise relative to rest

(**sources**: from **Deakin University**)

Example 7:

In [1]:
import pandas as pd
heartDisease = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/heart_disease_dataset.csv")
print (heartDisease)

      age  sex   cp  trestbps   chol  ... oldpeak  slope   ca  thal  state
0    63.0    M  tap     145.0  233.0  ...     2.3    3.0  0.0   6.0    0.0
1    67.0    M  asp     160.0  286.0  ...     1.5    2.0  3.0   3.0    2.0
2    67.0    M  asp     120.0  229.0  ...     2.6    2.0  2.0   7.0    1.0
3    37.0    M  nap     130.0  250.0  ...     3.5    3.0  0.0   3.0    0.0
4    41.0    F  aap     130.0  204.0  ...     1.4    1.0  0.0   3.0    0.0
..    ...  ...  ...       ...    ...  ...     ...    ...  ...   ...    ...
298  45.0    M  tap     110.0  264.0  ...     1.2    2.0  0.0   7.0    1.0
299  68.0    M  asp     144.0  193.0  ...     3.4    2.0  2.0   7.0    2.0
300   NaN  NaN  NaN       NaN    NaN  ...     NaN    NaN  NaN   NaN    NaN
301  57.0    F  aap     130.0  236.0  ...     0.0    2.0  1.0   3.0    1.0
302  38.0    M  nap     138.0  175.0  ...     0.0    1.0  NaN   3.0    0.0

[303 rows x 14 columns]

Read data without header

In [2]:
import pandas as pd
heartDisease = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/heart_disease_dataset.csv", header = None)
print (heartDisease)

      0    1    2         3     4   ...       9      10   11    12     13
0    age  sex   cp  trestbps  chol  ...  oldpeak  slope   ca  thal  state
1     63    M  tap       145   233  ...      2.3      3    0     6      0
2     67    M  asp       160   286  ...      1.5      2    3     3      2
3     67    M  asp       120   229  ...      2.6      2    2     7      1
4     37    M  nap       130   250  ...      3.5      3    0     3      0
..   ...  ...  ...       ...   ...  ...      ...    ...  ...   ...    ...
299   45    M  tap       110   264  ...      1.2      2    0     7      1
300   68    M  asp       144   193  ...      3.4      2    2     7      2
301  NaN  NaN  NaN       NaN   NaN  ...      NaN    NaN  NaN   NaN    NaN
302   57    F  aap       130   236  ...        0      2    1     3      1
303   38    M  nap       138   175  ...        0      1  NaN     3      0

[304 rows x 14 columns]

In [3]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [12]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

Filter frame

In [4]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [5]:
filteredFrame.dropna()

      ball  pen  pencil  paper
red    0.0  1.0     2.0    3.0
blue   4.0  5.0     6.0    7.0

In [6]:
print (filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [8]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    0.0
white    0.0  0.0     0.0    0.0

In [10]:
dropAllFrame = filteredFrame.dropna(how='all')
print(dropAllFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

There are two steps to save dataframe as csv file in google drive:

**Step 1**: mount google colab with google drive

**Step 2**: use to_csv('/drive/My Drive' + '/DataAnalyst/filename.csv') function to export this file into DataAnalyst folder.

Note: 
1. '**/drive/My Drive**': is constant.
2. **DataAnalyst** folder is an example of folder in your google drive

In [ ]:
from google.colab import drive
drive.mount('/drive')

In [ ]:
frame.to_csv('/drive/My Drive/DataAnalyst/lab01_example8.csv')